<% provide(:title, 'Guest List') %>
<h1>Listing All Guests </h1>
<!-- 
<ul class="guests">
  <% @guests.each do |guest| %>
    <li>
      <%= link_to guest.name, event_guest_path(@event, guest) %>
      <%= link_to 'Edit', edit_event_guest_path(@event, guest) %></td>
      <%= link_to 'Destroy', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
  <% end %>
</ul>
 -->

<table class="table table-striped table-hover">                         
  <tr>                          
    <th>Name</th>
    <th>Email-id</th>
    <th>Contact Number</th>
    <th>Send Invite</th>
  <!--   <th>RSVP Status</th> -->
  </tr>
<% @guests.each_with_index do |guest ,i| %> 
  <tr>
    <td><%= guest.name %></td>  
    <td><%= guest.email_id %></td>
    <td><%= guest.phone_no %></td>
    <td><input type='checkbox' id='chkbox1' name=<%="guest#{i}" %> data-name="<%= guest.name %>" data-email="<%= guest.email_id %>"></td> 
    <td><%= link_to 'Edit', edit_event_guest_path(@event, guest) %> ,<%= link_to 'Destroy', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  </tr>
<% end %>                   
</table>
<form class="send_invites">
<input type="submit" class= "send_invite btn btn-primary" value="Send Invites" /> 
</form>  

<%= link_to 'Back', event_path(params[:event_id]) %>
             