<% provide(:title, 'Guest List') %>
<h1> Add to Your Guest List </h1>

<% if @guest.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

        <ul>
        <% @guest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="col-md-5 col-md-offset-3">
      <%= form_tag(event_guests_path ,method: "POST", class: "form-horizontal") do %>
        <div class ="to_copy">
          <div class="form-group">
            <%= label_tag("name[]", "name") %>
             <%= text_field_tag("name[]", nil, class: 'stacked ') %>
         </div>
          <div class="form-group">
            <%= label_tag("email_id[]", "email_id") %>
            <%= text_field_tag("email_id[]", nil , class: 'stacked') %>
        </div>
         <div class="form-group">
            <%= label_tag("phone_no[]","phone_no") %>
            <%= text_field_tag("phone_no[]", nil , class: 'stacked') %>
         
          </div>

          <p class="add_new_guest"> + </p>
        </div>
      <%= submit_tag("submit" , :class => 'primary') %>

      <% end  %>
    </div>  
 </div>


<%= link_to 'Back', event_path(params[:event_id]) %>