<h1> Event details as follow </h1>
<div class="event-details">

  <p>
  Event is  <%= @event.eventName %>
</p>

<p>
  Occassion of the event is   <%= @event.occasion %>
</p>
<p>
  When  <%= @event.eventdate_time %>
</p>

<p>
  Where <%= @event.address %>
</p>
<p>
  Invitation  
<hr>
<p> <%= @event.invitation %> </p>
<hr>

</p>
  
</div>


<%= link_to 'Back', events_path %>
<%= link_to 'AddGuest', new_event_guest_path(@event.id) %>
<%= link_to 'GuestList', event_guests_path(@event) %>